@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/buttons";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
